.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}

.oneByTwoLeftSec{
	width: 48%;
	margin-right:2%; 
}
.oneByTwoRightSec{
	width: 48%;
	margin-left:2%; 
}
.eachSampleContainer{
	padding: 10px;
	border:1px solid #aaa;
	margin-bottom: 20px;
}
.fixedTable{
	width: 100%;
	table-layout: :fixed;
}
.fixedTable tbody{
	border:1px solid #aaa;
}

.fixedTable tr td, .fixedTable tr th{
	padding: 10px;
}

.fixedTable tbody tr:nth-child(odd){
	background: #f9f9f9;
}

.fixedTable tbody tr:nth-child(even){
	background: #fff;
}
.text-center{
	text-align: center;
}
.headerText{
	margin: 10px 0;
	font-weight: bold;
	font-size: 18px;
}